mat-form-field {
  width: 100%;
}

div.container {
  display: flex;
  gap: 16px;
}

/* Medium screens (tablets, 768px and up) */
@media (min-width: 768px) {
  form {
    display: flex;
    gap: 16px;
    width: 100%;
  }
}