<div class="container">
  <div class="card dark-card">
    <div class="row">
      <p class="label">SubTotal:</p>
      <input type="number" class="input" [formControl]="subtotal" readonly />
    </div>
    <div class="row">
      <p class="label">Amount Paid:</p>
      <input type="number" class="input" [formControl]="amountPaid" />
    </div>
    <div class="row">
      <p class="label">Amount Due:</p>
      <input type="number" class="input" [formControl]="amountDue" readonly />
    </div>
  </div>
</div>
