.container {
  padding: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 26px;
  border-radius: 10px;
  margin: auto;
  border: 2px solid #545454;
  gap: 26px;
}

.top-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.action-buttons {
  display: flex;
  gap: 16px;
}

.second-row {
  width: 100%;
  display: block;
}

.table {
  width: 100%;
  overflow-x: auto; /* Enables horizontal scrolling */
  white-space: nowrap; /* Prevents elements from wrapping */
  max-width: 100%;
}

.summary {
  width: 30%;
  height: 200px;
  border: 1px solid blue;
}

.banking {
  width: 100%;
  display: block;
}

/* Medium screens (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large screens (desktops, 1024px and up) */
@media (min-width: 1024px) {

}