.container {
  padding: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 26px;
  border-radius: 10px;
  margin: auto;
  border: 2px solid #545454;
  gap: 26px;
}

.top-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.action-buttons {
  display: flex;
  gap: 16px;
}

.second-row {
  width: 100%;
  display: block;
}

.table {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  max-width: 100%;
}

.banking {
  width: 100%;
  display: block;
}

.preview-actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.preview-actions button {
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  /* background-color: #00bf63; */
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.preview-actions button:hover {
  background-color: #00bf63;
}

.back {
  background-color: #FF2C2C;
}

.download {
  background-color: #00BF63;
}

/* Medium screens (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large screens (desktops, 1024px and up) */
@media (min-width: 1024px) {

}