<div class="container">
  <div class="card">
    <!-- Top row -->
    <div class="top-row">
      <!-- this div will represent a curruncy selector -->
      <div class="currency">
        <p>Currency Selector</p>
      </div>

      <div class="action-buttons">
        <app-custom-button
          [backgroundColor]="'#FF2C2C'"
          [text]="'Clear'"
          (action)="onClear()"
        >
        </app-custom-button>
        <app-custom-button
          [backgroundColor]="'#2E6F40'"
          [text]="'Done'"
          (action)="onDone()"
        >
        </app-custom-button>
      </div>
    </div>

    <!-- Form for Company -->
    <div class="second-row">
      <h1>Business Details</h1>
    </div>

    <!-- Form for recepient -->
    <div class="second-row">
      <h1>Bill To</h1>
    </div>

    <!-- Table for displaying the Description -->
    <div class="table">

    </div>

    <!-- Total Display -->
    <div class="summary">
      <h1>Total</h1>
    </div>

    <!-- Banking Details Form -->
    <div class="banking">
      <h1>Banking Details</h1>
    </div>
  </div>

  <div class="space"></div>
</div>