<div class="form-container">
  <form [formGroup]="descriptionForm">
    <div class="header-row">
      <div class="header-cell description">Description</div>
      <div class="header-cell">Rate</div>
      <div class="header-cell">Quantity</div>
      <div class="header-cell">Total</div>
    </div>

    <!-- Rows -->
    <div class="row" *ngFor="let row of rows.controls; let i = index" [formGroup]="getRowGroup(i)">
      <div class="input-field description">
        <input formControlName="description" placeholder="Description" />
      </div>
      <div class="input-field">
        <input type="number" formControlName="rate" placeholder="Rate" (input)="calculateTotal(i)" />
      </div>
      <div class="input-field">
        <input type="number" formControlName="quantity" placeholder="Quantity" (input)="calculateTotal(i)" />
      </div>
      <div class="input-field total-remove">
        <input formControlName="total" readonly />
        <button type="button" (click)="removeRow(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <button class="custom-button"  (click)="addRow()">
      <mat-icon>add</mat-icon>
      Add
    </button>
  </form>
</div>